.gridContainer {
    margin-top: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 0 16px;
}

.gridItem {
    border: 1px solid blue; /* Add blue border */
    border-radius: 10px; /* Round corners */
    text-align: center; /* Center the text */
    padding: 10px; /* Optional: Add padding for better spacing */
    overflow: hidden; /* Ensure overflow is hidden to maintain frame shape */
    cursor: pointer; /* Change cursor to pointer on hover */
    flex: 0 0 45%; /* Set default width for items */
}

@media (max-width: 430px) {
    .gridItem {
        flex: 0 0 45%; /* Two items per row on mobile, adjust width */
        margin: 2px;
    }
}

@media (min-width: 431px) {
    .gridItem {
        flex: 0 0 25%; /* Four items per row on larger screens */
        margin: 10px;
    }
} 